.Cards{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* AGORA 3 POR LINHA */
  gap: 32px;
  padding: 30px;
  box-sizing: border-box;
  justify-items: center;
  padding-top: 120px;
  padding-bottom: 150px;
}

.Cards h2{
  grid-column: 1 / -1;
  font-size: 64px;
  text-align: center;
  margin-bottom: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
  color: #1a1198;
}

.Card{
  width: 100%;
  max-width: 380px;
  min-height: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
background: linear-gradient(135deg, #1cef1c, #2090f2);
  border-radius: 16px;
  overflow: hidden;
  padding-bottom: 20px;
  box-shadow: 0 10px 26px rgba(0,0,0,0.22);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  
}

.noite .Card{
  background: linear-gradient(135deg, #38d956, #462ac5);
}

.Card:hover{
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 22px 40px rgba(0,0,0,0.28);
}

.Foto{
  width: 100%;
  height: 190px;
  background: linear-gradient(135deg, #4e73df, #1cc88a);
  display: flex;
  align-items: center;
  justify-content: center;
}

.noite .Foto{
    background: linear-gradient(135deg, #1a1198, #099325);
}

.Foto img{
  width: 220px;
}

.Card h4{
  margin: 16px 0 14px;
  font-size: 30px;
  font-family: sans-serif;
  color: rgb(102, 0, 255);
}

.noite .Card h4{
    color: rgb(15, 1, 79);
}

.botoes{
  display: flex;
  gap: 12px; 
  margin-top: 16px;
  justify-content: space-between;
}

.botao{
  margin-top: auto;
  padding: 12px 24px;
  border-radius: 10px;
  border: none;
  background: #4e73df; 
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  text-decoration: none;
}
.Card button Link{
    font-family: sans-serif;
    font-weight: bold;
}

.botaolixeira{
  margin-top: auto;
  padding: 12px 24px;
  border-radius: 10px;
  border: none;
  background: #c60c0c; 
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  width: 125px;
  height: 45px;
  text-align: center;
}
p{
    color: #181717;
    font-size: 16px;
    font-weight: 600;
    font-family: sans-serif;
}