.Russia{
    background: linear-gradient(135deg, #fefdfd43, #1203ef32, #e907072a);
    padding: 20px;
    margin: 0 auto;
    flex-wrap: wrap;
}


.Russia h1 {
    font-family:sans-serif;
    font-size: 75px;
    border-bottom: 8px solid #e32600;
    border-radius: 6px;
    text-align: center;
    color: rgb(25, 23, 23);
}


.Russia h3 {
    font-family: sans-serif;
    font-size: 50px;
    padding: 75px 0 30px;
    text-align: center;
    color: rgb(25, 23, 23);
}

.bandeira{
    max-width: 800px;
    padding: 20px 100px;
}
.brasao{
    max-width: 650px;
    padding-bottom: 50px;
    padding-left: 350px;
}


.info {
 font-size: 32px;
  line-height: 1.8;
  font-weight: 500;
  font-family: 'Segoe UI', sans-serif;
  font-weight: bolder;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
}

p{
  font-size: 32px;
  color: rgb(38, 37, 37);
  text-align: center;
}
.pe{
    height: 50px;
    justify-content: center;
    background-color: black;
    padding-top: 10px;
}
.pe a{
    color: white;
    font-size: 32px;
    text-decoration: none;
    font-family: sans-serif;
    padding-left: 900px;
    padding-top: 20px;
    font-weight: bolder;
}



