.cabecalho {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(135deg, #6dd5ed,#5e8fdd,#7e65d1, #371de2    );
  color: #1f2933;
  padding: 15px 7%;
  transition: 0.5s;
}

.cabecalho div{
padding: 24px;
display: flex;
justify-content: center;
align-items: center;
box-shadow: 0 6px 20px rgba(0,0,0,0.3);
animation: slideDown 0.6s ease;
}
 .cabecalho h1{
    padding-left: 24px;
    font: bold;
    color:aliceblue;
    font-size: 46px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 12px;
 }

 .noite .cabecalho{
    background: linear-gradient(
    135deg,
    #0f2027,
    #203a43,
    #2c5364
  );
  color: #f1f1f1;
 }

 