.rodape {
  width: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(
    135deg,
    #6dd5ed,   
    #5e8fdd,   
    #7e65d1,   
    #371de2    
  );
  color: #1f2933;
  height: 80px;
  transition: 0.5s;
  padding-top: 25px;
  gap: 20px;
}



 .noite .rodape{
    background: linear-gradient(
    135deg,
    #0f2027,
    #203a43,
    #2c5364
  );
  color: #f1f1f1;
 }

 .para{
 padding-left: 10px;
 text-align: center;
}
 a img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
    
 }


